{% extends "base.html" %}

{% block title %}About the Author{% endblock %}

{% block content %}

	<div class="container">
		<h1>About the Author</h1>
		<hr />

		<p>
			My name is Matt Weil. I graduated from the University of Pennsylvania in 2005 with a BA in Philosophy, Politics, and Economics. I am slightly more than halfway through the Government Analytics program at JHU. I have worked in Washington, DC since graduation at both nonprofit think tanks and for the federal government at the U.S. Election Assistance Commission and as a political appointee at the U.S. Department of the Treasury under the Obama Administration.
		</p>
		<br>
		<p>
			I am currently the associate director of the Democracy Project at the <a href="http://www.bipartisanpolicy.org/">Bipartisan Policy Center</a> (BPC) in DC, which bills itself as 'a non-profit organization that drives principled solutions through rigorous analysis, reasoned negotiation and respectful dialogue. With projects in multiple issue areas, BPC combines politically-balanced policymaking with strong, proactive advocacy and outreach.'  My area of focus at BPC is democratic institutions and election administration (especially the ways in which we register to vote and conduct our elections in the states), though, I have also focused on Congress, redistricting, and campaign finance. 
		</p>
	</div>

{% endblock %}