{% extends "base.html" %}

{% block title %}Allegany County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Allegany County</h1>
		<hr />

		<p>Allegany County is the sixteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Allegany county had 42,129 registered voters.  By 2014, that number was 42,560.</li>   
			<li>In 2012, Allegany county's turnout of registered voters was 71.55% and in 2014 it was 49.08%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 687 voters per polling place, ranking 5th out of 24 counties in this metric. In 2014, the county had 687 voters per polling place, ranking 5th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 85 voters per poll worker, ranking 12th out of 24 counties in this metric. In 2014, the county had 62 voters per poll worker, ranking 14th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Allegany County is on the smaller side, but the number of polling places serves its voters well.  In both 2012 and 2014, the county had the 5th best voters per polling place ranking.  The county could do more to improve voters' experiences by increasing the number of available poll workers against number of voters turning out.</p>

	</div>

{% endblock %}
