{% extends "base.html" %}

{% block title %}Anne Arundel County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Anne Arundel County</h1>
		<hr />

		<p>Anne Arundel County is a large county.  It is the fifth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Anne Arundel county had 348,778 registered voters.  By 2014, that number was 349,313.</li>   
			<li>In 2012, Anne Arundel county's turnout of registered voters was 75.14% and in 2014 it was 51.93%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,263 voters per polling place, ranking 14th out of 24 counties in this metric. In 2014, the county had 806 voters per polling place, ranking 12th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 79 voters per poll worker, ranking 10th out of 24 counties in this metric. In 2014, the county had 57 voters per poll worker, ranking 11th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Anne Arundel county's election administrators have positioned this large jurisdiction right near the middle in terms of voters per polling place and voters per poll worker.</p>

	</div>

{% endblock %}