{% extends "base.html" %}

{% block title %}Baltimore County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Baltimore County</h1>
		<hr />

		<p>Baltimore County is a large county.  It is the third largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Baltimore county had 492,606 registered voters.  By 2014, that number was 521,130.</li>   
			<li>In 2012, Baltimore county's turnout of registered voters was 75.85% and in 2014 it was 51.08%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,527 voters per polling place, ranking 21st out of 24 counties in this metric. In 2014, the county had 1,040 voters per polling place, ranking 20th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 110 voters per poll worker, ranking 19th out of 24 counties in this metric. In 2014, the county had 65 voters per poll worker, ranking 15th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Baltimore County ranks near the bottom in voters per polling place and voters per poll worker.  The jurisdiction is a mix of urban, suburban, and rural areas and the data show that voters would be better served by an increase in the number of polling places and poll workers.</p>

	</div>

{% endblock %}