{% extends "base.html" %}

{% block title %}Calvert County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Calvert County</h1>
		<hr />

		<p>Calvert County is the fourteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Calvert county had 51,418 registered voters.  By 2014, that number was 59,976.</li>   
			<li>In 2012, Calvert county's turnout of registered voters was 89.30% and in 2014 it was 55.43%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,477 voters per polling place, ranking 20th out of 24 counties in this metric. In 2014, the county had 1,128 voters per polling place, ranking 23rd out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 152 voters per poll worker, ranking 23rd out of 24 counties in this metric. In 2014, the county had 93 voters per poll worker, ranking 22nd out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Calvert county is a relatively small county where voters are more densely packed into polling places with fewer poll workers to serve them relative to other counties of similar size.  The county's turnout was consistently higher than the state average, so it's possible that the higher density of voters per polling place and poll worker is impacted by the county's more dedicated voters.  However, if county continues to experience higher than average turnout, the election officials should plan accordingly to maintain a top-notch voting experience.</p>

	</div>

{% endblock %}