{% extends "base.html" %}

{% block title %}Caroline County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Caroline County</h1>
		<hr />

		<p>Caroline County is the 22nd largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Caroline county had 18,864 registered voters.  By 2014, that number was 18,353.</li>   
			<li>In 2012, Caroline county's turnout of registered voters was 71.43% and in 2014 it was 50.70%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,140 voters per polling place, ranking 11th out of 24 counties in this metric. In 2014, the county had 822 voters per polling place, ranking 14th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 77 voters per poll worker, ranking 7th out of 24 counties in this metric. In 2014, the county had 56 voters per poll worker, ranking 10th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Caroline county is merely average on both voters per polling place and voters per poll workers.  In the small county, it may not be feasible to increase either locations or workers by much.</p>

	</div>

{% endblock %}