{% extends "base.html" %}

{% block title %}Carroll County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Carroll County</h1>
		<hr />

		<p>Carroll County is the ninth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Carroll county had 108,165 registered voters.  By 2014, that number was 112,946.</li>   
			<li>In 2012, Carroll county's turnout of registered voters was 81.44% and in 2014 it was 57.32%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 2,201 voters per polling place, ranking 24th out of 24 counties in this metric. In 2014, the county had 1,655 voters per polling place, ranking 24th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 154 voters per poll worker, ranking 24th out of 24 counties in this metric. In 2014, the county had 112 voters per poll worker, ranking 23rd out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Carroll county is arguably the most poorly administered county in the state with voters packed into the polling place with fewer poll workers per voter to go around.  It is unclear why the county's election administration seems not to be improving.</p>

	</div>

{% endblock %}