{% extends "base.html" %}

{% block title %}Cecil County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Cecil County</h1>
		<hr />

		<p>Cecil County is the thirteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Cecil county had 60,400 registered voters.  By 2014, that number was 61,991.</li>   
			<li>In 2012, Cecil county's turnout of registered voters was 70.80% and in 2014 it was 43.50%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,912 voters per polling place, ranking 23rd out of 24 counties in this metric. In 2014, the county had 1,101 voters per polling place, ranking 22nd out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 98 voters per poll worker, ranking 15th out of 24 counties in this metric. In 2014, the county had 60 voters per poll worker, ranking 12th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Cecil county could use more polling places, but it seems to staff the limited number of polling places with sufficient poll workers. The county's voters are voting at rates lower than the state average, but if those numbers increase to the state average, the county will likely have over-packed polling places AND insufficient poll workers to administer the election.</p>

	</div>

{% endblock %}