{% extends "base.html" %}

{% block title %}Project Description{% endblock %}

{% block content %}

	<div class="container">
		<h1>Maryland Election Administration Project Description</h1>
		<hr />

		<p>
			I use bulk CSV data primarily from the U.S. Election Assistance Commission's 2012 and 2014 Election Administration and Voting Surveys.  The data can be found on the <a href="http://www.eac.gov/">U.S. Election Assistance Commission's</a> website. The data I was interested in include total registration rates, total turnout, turnout at the polling place, number of polling places, and number of poll workers for each federal election.  From the data made available by the EAC and cleaned by Pew and others, I was able to create new metrics using Python coding for election over election improvement in the preparation and planning for turnout by county election officials.  I then compared local jurisdiction's ranking in the various metrics against the other jurisdictions in the state.
		</p>
		<br>
		<p>
			In this project, all data come from county and county-equivalents in the state of Maryland.  There are 23 counties in addition to the independent city of Baltimore.  I ranked each of the jurisdictions by each created metric to see whether a county or county equivalent undertook steps to improve election over election.  I compare rank relative to other county or county equivalent because using raw numbers is less helpful when comparing a presidential election and midterm election, which I was forced to do based on data availability and quality.\
		</p>
		
		
	</div>

{% endblock %}