{% extends "base.html" %}

{% block title %}Dorchester County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Dorchester County</h1>
		<hr />

		<p>Dorchester County is the 20th largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Dorchester county had 17,687 registered voters.  By 2014, that number was 20,466.</li>   
			<li>In 2012, Dorchester county's turnout of registered voters was 87.92% and in 2014 it was 52.90%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 566 voters per polling place, ranking 2nd out of 24 counties in this metric. In 2014, the county had 368 voters per polling place, ranking 1st out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 62 voters per poll worker, ranking 5th out of 24 counties in this metric. In 2014, the county had 38 voters per poll worker, ranking 3rd out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Dorchester is a small county with high turnout relative to the state averages.  Still, the county scores very highly on the voters per polling place and voters per poll worker metrics.  It appears Dorchester County is very well administered.</p>

	</div>

{% endblock %}