{% extends "base.html" %}

{% block title %}Frederick County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Frederick County</h1>
		<hr />

		<p>Frederick County is the eighth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Frederick county had 130,168 registered voters.  By 2014, that number was 150,895.</li>   
			<li>In 2012, Frederick county's turnout of registered voters was 90.73% and in 2014 it was 53.58%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,45 voters per polling place, ranking 19th out of 24 counties in this metric. In 2014, the county had 982 voters per polling place, ranking 18th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 121 voters per poll worker, ranking 21st out of 24 counties in this metric. In 2014, the county had 75 voters per poll worker, ranking 19th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Frederick county is a large county with lower than average election administration. The polling places are consistently too crowded and the poll workers overburdened relative to the state averages and medians.</p>

	</div>

{% endblock %}