{% extends "base.html" %}

{% block title %}Garrett County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Garrett County</h1>
		<hr />

		<p>Garrett County is the 21st largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Garrett county had 18,160 registered voters.  By 2014, that number was 19,292.</li>   
			<li>In 2012, Garrett county's turnout of registered voters was 73.04% and in 2014 it was 48.78%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 561 voters per polling place, ranking 1st out of 24 counties in this metric. In 2014, the county had 445 voters per polling place, ranking 3rd out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 78 voters per poll worker, ranking 9th out of 24 counties in this metric. In 2014, the county had 53 voters per poll worker, ranking 6th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Garrett county is a small county with more than sufficient polling places.  It's unlikely voters in this small county ever experience lines. The number of voters per poll worker is better than average, though, not as highly ranked as the polling place metric.</p>

	</div>

{% endblock %}