{% extends "base.html" %}

{% block title %}Harford County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Harford County</h1>
		<hr />

		<p>Harford County is the seventh largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Harford county had 138,729 registered voters.  By 2014, that number was 164,780.</li>   
			<li>In 2012, Harford county's turnout of registered voters was 91.46% and in 2014 it was 55.81%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,538 voters per polling place, ranking 22nd out of 24 counties in this metric. In 2014, the county had 1,058 voters per polling place, ranking 21st out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 118 voters per poll worker, ranking 20th out of 24 counties in this metric. In 2014, the county had 78 voters per poll worker, ranking 20th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Harford county election administration ranks near the bottom in both the voters per polling place and voters per poll worker metrics.  The county would be better served with an increase in both locations and workers and voters would be likely to benefit.</p>

	</div>

{% endblock %}