{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="container">
		<h1>Maryland Election Administration Project HomePage</h1>
		<hr />

		<p>Elections are awash in data.  Candidates and parties have an obvious interest in, and use for, these data, but the public can benefit from a deeper look into how data analysis can improve election administration. The ironic thing is, for as much data as every election generates, almost none of it has been used to improve the election experience for voters as they engage the voting process.</p>
		<br>
		<p>After the 2000 Presidential election, Congress passed the Help America Vote Act of 2002.  It is a comprehensive law that still guides much of the voting process today. The legislation created the United States Election Assistance Commission (EAC), spun off from the U.S. Federal Election Commission, which is now free to focus solely on campaign finance.  One unique component of the law was the drastic enhancement of data collection and reporting to be completed by the EAC.  The first few iterations of the EAC's biennial Election Administration and Voting Survey in 2004 and 2006 were less than good.  But by 2008 and in 2010, 2012, and 2014, the data collection and analysis have gotten much more comprehensive.  There is still much work to be done, but we are almost at the point where voters should be able to access data about their jurisdiction's election process and demand more from their leaders where improvement is a necessity.</p>
		<br>
		<p>In my project, I used EAC bulk data in CSV.  I cleaned the data where possible when I found obviously incorrect data.  In some cases, I was unable to do so and I will note where I do not believe the data are accurate in my results.  I created metrics for voters in a single state to compare how their election officials (in this case, county-level officials) are conducting elections.  I chose Maryland because it is where I currently live and because the data were some of the most complete statewide.</p>
		<br>
		<p>Visit the <a href="/about"> about page</a> to learn more</p>
	</div>
{% endblock %}
