{% extends "base.html" %}

{% block title %}Howard County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Howard County</h1>
		<hr />

		<p>Howard County is a large county in Maryland.  Based on 2014 registered voters, it is the sixth largest county or county-equivalent in the State of Maryland.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Howard county had 159,971 registered voters.  By 2014, that number was 195,440.</li>   
			<li>In 2012, Howard county's turnout of registered voters was 96.5% and in 2014 it was 54.31%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,317 voters per polling place, ranking 16th out of 24 counties in this metric. In 2014, the county had 1,019 voters per polling place, ranking 19th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 88 voters per poll worker, ranking 13th out of 24 counties in this metric. In 2014, the county had 68 voters per poll worker, ranking 17th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Howard County's turnout rates are suspect, though, those are what were reported.  I find it hard to believe that over 90% of registered voters turnout out to vote in 2012. If these data are wrong, the metric calculated in part from these data will be inaccurate.</p>

	</div>

{% endblock %}
