{% extends "base.html" %}

{% block title %}Kent County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Kent County</h1>
		<hr />

		<p>Kent County is the smallest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Kent county had 12,755 registered voters.  By 2014, that number was 12,724.</li>   
			<li>In 2012, Kent county's turnout of registered voters was 78.57% and in 2014 it was 61.70%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 684 voters per polling place, ranking 4th out of 24 counties in this metric. In 2014, the county had 553 voters per polling place, ranking 6th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 38 voters per poll worker, ranking 1st out of 24 counties in this metric. In 2014, the county had 29 voters per poll worker, ranking 1st out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Kent has supremely well-staffed polling places taking the top spot in voters per poll workers in both 2012 and 2014.  The county is near the top in the voters per polling place as well.</p>

	</div>

{% endblock %}