{% extends "base.html" %}

{% block title %}Methodology{% endblock %}

{% block content %}

	<div class="container">
		<h1>Methodology</h1>
		<hr />

		<p>
			There are numerous sources of data available at the county level that allow comparisons across jurisdictions and states that build the basis for national best practices and policy.
    	</p>

   		 <h2>Source List</h2>
   			<ol>
    			<li>Census Bureau, American Community Survey</li>
    			<li>U.S. Election Assistance Commission, Election Administration and Voting Survey</li>
     			<li>Survey for the Performance of the American Electorate (SPAE)</li>
     			<li>Google Civic Information API</li>
				<li>OpenElections</li>
    		</ol>
		
		
	</div>

{% endblock %}