{% extends "base.html" %}

{% block title %}Montgomery County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Montgomery County</h1>
		<hr />

		<p>Montgomery County is the largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Montgomery county had 612,594 registered voters.  By 2014, that number was 634,663.</li>   
			<li>In 2012, Montgomery county's turnout of registered voters was 75.24% and in 2014 it was 42.11%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,415 voters per polling place, ranking 18th out of 24 counties in this metric. In 2014, the county had 889 voters per polling place, ranking 16th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 109 voters per poll worker, ranking 18th out of 24 counties in this metric. In 2014, the county had 88 voters per poll worker, ranking 21st out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Montgomery county is probably the most difficult to administer county, but the number of polling places and number of poll workers will need to improve before voters experience a higher level voting experience.  In both 2012 and 2014 the county ranked in the bottom half in voters per polling place and voters per poll worker.</p>

	</div>

{% endblock %}