{% extends "base.html" %}

{% block title %}Prince George's County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Prince George's County</h1>
		<hr />

		<p>Prince George's County is the second largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Prince George's county had 616,016 registered voters.  By 2014, that number was 544,677.</li>   
			<li>In 2012, Prince George's county's turnout of registered voters was 63.76 and in 2014 it was 40.34%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,289 voters per polling place, ranking 15th out of 24 counties in this metric. In 2014, the county had 665 voters per polling place, ranking 8th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 67 voters per poll worker, ranking 6th out of 24 counties in this metric. In 2014, the county had 37 voters per poll worker, ranking 2nd out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Prince George's county is another large county, but one with better than average election administration in 2012 and 2014.  However, the registered voter data seems incorrect with a huge decrease in registered voters between 2012 and 2014.  That is highly suspect and could be skewing the generated metrics for this jurisdiction.</p>

	</div>

{% endblock %}