{% extends "base.html" %}

{% block title %}Queen Anne's County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Queen Anne's County</h1>
		<hr />

		<p>Queen Anne's County is the eighteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Queen Anne's county had 29,617 registered voters.  By 2014, that number was 33,175.</li>   
			<li>In 2012, Queen Anne's county's turnout of registered voters was 84.74% and in 2014 it was 58.91%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,137 voters per polling place, ranking 10th out of 24 counties in this metric. In 2014, the county had 809 voters per polling place, ranking 13th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 103 voters per poll worker, ranking 17th out of 24 counties in this metric. In 2014, the county had 115 voters per poll worker, ranking 24th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Queen Anne's county is a small jurisdiction.  Notably in 2014, the county had the worst voter per poll worker ranking, surprising for a county of its size.</p>

	</div>

{% endblock %}