{% extends "base.html" %}

{% block title %}Research Question{% endblock %}

{% block content %}

	<div class="container">
		<h1>Maryland Election Administration Project Research Question</h1>
		<hr />

		<p>
			Election administration in the United States is one of the most visible manifestations of federalism.  Taken to its extreme in some states, elections can be run all the way down at the township level (Massachusetts, Wisconsin, Minnesota, and others), though, the majority of states run elections at the county or county-equivalent level. I was an advisor to the <a href="http://www.supportthevoter.gov/">Presidential Commission on Election Administration</a> (PCEA), and in my current role at the <a href="http://www.bipartisanpolicy.org/">Bipartisan Policy Center</a> (BPC), I continue to develop policy and advocate election reforms across the country.
		</p>
		<br>
		<p>
			The most common refrain from local and state legislators, policymakers, and election administrators is that the states are completely unique and one-size-does-not-fit-all when it comes to election policy. And that may be true to some extent, but our counties' similarities are likely far more important than their differences.
		</p>
		<br>
		<p>
			Research Question: In an era of big data, can county election administrators use the data generated about their election performance (ie-whether or not voters experienced lines on Election Day or were otherwise burdened by some aspect of the election process itself) to improve their election administration processes in subsequent elections?  If a county knows it's polling places are overloaded or their poll workers overwhelmed, do they take steps to alleviate those potential chokepoints and what can data do improve voters' experiences?
		</p>
		
	</div>

{% endblock %}