{% extends "base.html" %}

{% block title %}St. Mary's County{% endblock %}

{% block content %}

	<div class="container">
		<h1>St. Mary's County</h1>
		<hr />

		<p>St. Mary's County is the twelfth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, St. Mary's county had 52,332 registered voters.  By 2014, that number was 64,510.</li>   
			<li>In 2012, St. Mary's county's turnout of registered voters was 92.26% and in 2014 it was 50.91%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,245 voters per polling place, ranking 13th out of 24 counties in this metric. In 2014, the county had 900 voters per polling place, ranking 17th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 77 voters per poll worker, ranking 8th out of 24 counties in this metric. In 2014, the county had 55 voters per poll worker, ranking 7th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>St. Mary's county is right in the middle of all the counties by size.  It has merely average voter per polling place metrics but the polling places are well-staffed, putting the county in the top third of jurisdictions based on voters per poll worker.</p>

	</div>

{% endblock %}