{% extends "base.html" %}

{% block title %}Talbot County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Talbot County</h1>
		<hr />

		<p>Talbot County is the nineteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Talbot county had 23,928 registered voters.  By 2014, that number was 25,663.</li>   
			<li>In 2012, Talbot county's turnout of registered voters was 86.17% and in 2014 it was 59.77%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 988 voters per polling place, ranking 17th out of 24 counties in this metric. In 2014, the county had 745 voters per polling place, ranking 11th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 124 voters per poll worker, ranking 22nd out of 24 counties in this metric. In 2014, the county had 66 voters per poll worker, ranking 16th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Talbot county is one of the few counties that reflected a fairly good improvement election over election.  For voters per poll worker the county went from near the bottom to firmly in the middle relative to other Maryland jurisdictions.</p>

	</div>

{% endblock %}