{% extends "base.html" %}

{% block title %}Washington County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Washington County</h1>
		<hr />

		<p>Washington County is the eleventh largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Washington county had 85,295 registered voters.  By 2014, that number was 90,098.</li>   
			<li>In 2012, Washington county's turnout of registered voters was 74.23% and in 2014 it was 43.51%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,059 voters per polling place, ranking 9th out of 24 counties in this metric. In 2014, the county had 694 voters per polling place, ranking 9th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 83 voters per poll worker, ranking 11th out of 24 counties in this metric. In 2014, the county had 61 voters per poll worker, ranking 13th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Washington is in the top half of counties by registered voters but still reflects better than average metrics for voters per polling place and voters per poll worker.</p>

	</div>

{% endblock %}