{% extends "base.html" %}

{% block title %}Wicomico County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Wicomico County</h1>
		<hr />

		<p>Wicomico County is the fifteenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Wicomico county had 87,298 registered voters.  By 2014, that number was 56,696.</li>   
			<li>In 2012, Wicomico county's turnout of registered voters was 48.93% and in 2014 it was 46.18%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,036 voters per polling place, ranking 8th out of 24 counties in this metric. In 2014, the county had 621 voters per polling place, ranking 7th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 90 voters per poll worker, ranking 14th out of 24 counties in this metric. In 2014, the county had 55 voters per poll worker, ranking 8th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Wicomico county's data do not make sense.  The registered data reflecta 30,000 voter decrease in the jurisdiction from 2012 to 2014. The couty did not lose 30% of its voters, but I was unable to clean this county's data further.</p>

	</div>

{% endblock %}