{% extends "base.html" %}

{% block title %}Worcester County{% endblock %}

{% block content %}

	<div class="container">
		<h1>Worcester County</h1>
		<hr />

		<p>Worcester County is the seventeenth largest county or county-equivalent in the State of Maryland based on the 2014 registration data.</p>

		<br>

		<ul style="list-style-type:square">
			<li>In 2012, Worcester county had 56,429 registered voters.  By 2014, that number was 35,699.</li>   
			<li>In 2012, Worcester county's turnout of registered voters was 49.02% and in 2014 it was 54.34%.  The statewide averages were 75.33% and 47.14%, respectively.</li> 
			<li>In 2012, the county had 1,150 voters per polling place, ranking 12th out of 24 counties in this metric. In 2014, the county had 705 voters per polling place, ranking 10th out of 24 counties.  The statewide average of voters per polling place in 2012 was 1,264 and the median was 1,198.  In 2014, the average voters per polling place statewide was 808 voters and the median was also 808 voters.</li>
			<li>In 2012, the county had 59 voters per poll worker, ranking 4th out of 24 counties in this metric. In 2014, the county had 51 voters per poll worker, ranking 5th out of 24 counties.  The statewide average of voters per poll worker in 2012 was 88 voters and the median was 87 voters.  In 2014, the average voters per poll worker statewide was 60 voters and the median was 61 voters.</li>
		</ul>

		<br>

		<p>Worcester county's data do not make sense.  The registered data reflecta 20,000 voter decrease in the jurisdiction from 2012 to 2014. The couty did not lose 40% of its voters, but I was unable to clean this county's data further.</p>

	</div>

{% endblock %}